/* font size */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Luxurious+Roman&family=Moon+Dance&family=Poppins:ital,wght@0,400;0,500;1,500&family=Roboto+Slab&family=The+Nautigal:wght@400;700&display=swap');

/* Header part */

.header{
    color: #3A3A3A; 
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-left: 180px;
    margin-top: 100px;
}  
    
     /* -------------------------------------------------
             Journey of Influencer's 
--------------------------------------------------*/

/* ------------------------Main start------------------- */

.algin-items{
    justify-content: center;
    align-items: center;
   
}

.font-size h1{ 
    color: #3A3A3A;    
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-left:50px ;
    }
    .first-peragraph{
       text-align: justify;
       color:#3A3A3A;
       font-size: 18px;
       font-weight: bold;
    }

    p,button{
        margin-left:50px;
        
    }
    button:hover{
        cursor: pointer;
       
    }
    button{
        font-size: medium;
        color:white;
        background-color: crimson;
        padding:15px 45px;
        border-radius: 40px;
        border:none;
    }
    
    button{
        display: inline-block;
       
    }
    .fas{
        margin-left: 10px;
    }
    .image {
        
        margin-left: 40px;
        padding-left: 50px;
       
    }
     .transition{
        transition: transform 2s ease-in-out;
    }
    .first-section .transition:hover{
        transform: scale(1.5);
    }
     .first-section{
        display:flex;
        align-items: center;
        justify-content: center;
       
    }
   .first-section{
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    /*---------------------- Main End----------------------------- */
     
    /* ---------------------
         collection-of-blogs Styles
    ---------------------------- --------------*/
    .collections{
      display:grid;
      grid-template-columns:repeat(3, 1fr) ;
      grid-gap:30px;
    }
    .collections{
        margin-left:250px;
        margin-right: 250px;
    }
    .collection{
        justify-content: center;
        align-items: center;
    }
   
  .collection{
    width: 300px;
    height:476px;
    padding:10px;
    border: 2px solid rgb(243, 234, 234);
    border-radius: 5px;
   }
    .title-h2{
       text-align: center;
       margin-top: 100px;
       margin-bottom: 30px;
       padding:20px;
   }
   .title-h2{
    color:#3A3A3A;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Poppins', sans-serif; 
   }
   .title-h3{
       font-family: 'Poppins', sans-serif; 
       font-size: 28px;
       color:#18191F;

   }
     /*----------------------- Rating-------------- */
   .fa-star{
    color:#FB8200;
    margin:0;
}
 .small{
       color:#787885;
   }
  
    /* ....................................
                  see more 
    .........................*/
   #see-more{
       font-size: 18px;
       font-family:'Poppins', sans-serif;  ;
       color:#E02C6D;
       text-align: right;
       padding-right: 300px;
       font-weight: bold;

  }
  /* ................
      animation part 
  ................................*/
 .animation img{
     width:300px;
     height:256px;
 }
  /*-----------------------
  
  
  animation Part/ Vloging part
  
  ----------------------------------------------*/
  .vlog-photos{
      width:600px;
      height:340px;
      margin-left: 550px;
      margin-top: 50px;
      margin-bottom: 100px;
      border:2px solid gray;
      border-radius: 10px;
      position:relative;
  }
  .photo img{
      width:100%;
      border-radius: 10px;
  }
 
  .vlog-detail{
      display:none;
      position:absolute; 
      border-radius: 10px; 
      top:0;
  }
  .vlog-detail h2{
      background-color: rgba(238, 212, 212, 0.781);
      text-align: center;
  }
  .vlog-photos:hover .vlog-detail{
      display:block;
      background-color:rgba(247, 237, 237, 0.781);
      
  }   
      
  .animation{
      margin:0;
  }
  .animation-button{
      margin-left:1000px;
      margin-bottom: 100px;
      background-color: #E02C6D;
     
  }
  .animation-button a{
      text-decoration: none;
      color:white;
  }
   /*----------------
      Footer 
      ------------------------*/
 footer{
     color:blanchedalmond;
     background-color: #0A0826;
     padding:50px;
     text-align: center;
 } 
 #footer{
     font-size: 24px;
     font-weight: bold;
    font-family: 'Poppins', sans-serif; 
 }
 #footer-1{
     color:#D9DBE1;
 }
  /* .................Social Media Icon................. */
 .fab{
     font-size:24px;
     margin: 10px;
     padding:5px;
   
 }
 /* -----------------------
         Media Queries
         ------------------------------------ */

         /*---Mobile Devices --*/
  @media only screen and (max-width:688px){
    
    .first-section,.collections, .animation-card{
             display:grid;
            grid-template-columns: repeat(1,1fr);
            width:100%;
           
            }
  }
  /* ..............Tablet ........*/
  @media only screen and (min-width:688px) and (max-width:992px){
    
    .first-section,.collections, .animation-card{
             display:grid;
            grid-template-columns: repeat(2,1fr);
           
            }
           
  }
   
  
      
  
 

  
      
      
  
  
    
